@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@1,200&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Inter Tight", "sans-serif";
}
header {
  background-color: #211;
  padding: 10px;
}
header img {
  width: 70px;
  border-radius: 50px;
}
ul {
  display: flex;
  align-items: center;
  gap: 20px;
}
li {
  list-style: none;
}
li a {
  text-decoration: none;
  color: white;
}
li a:hover {
  opacity: 0.5;
}
main {
  background-color: #511;
  height: 93.8vh;
  display: flex;
  justify-content: center;
  padding-top: 20px;
  flex-wrap: wrap;
  gap: 20px;
}
.card {
  width: 300px;
  height: 180px;
  background-color: #211;
  color: white;
  text-align: center;
  border-radius: 20px;
  transition: 0.5s ease-in-out;
  position: relative;
}
.card img {
  width: 300px;
}
.card .badge {
  width: 70px;
  height: 70px;
  position: absolute;
  transition: ease-in-out .25s;
  bottom: 0;
  left: 0;
  z-index: 2;
}
.card .info {
  position: absolute;
  left: 85%;
  bottom: 20%;
  font-weight: 600;
  padding: 2px;
}
.card .hide {
  display: none;
  position: absolute;
  background-color: #211;
  width: 200px;
  height: 100px;
  top: 20%;
  left: 18%;
  align-items: center;
}
.card .show {
  display: block;
}
.card .badge:hover {
  scale: 1.25;
}
